html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url("./Images/fondo.jpg");
    background-repeat:unset;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

header{
    text-align: right;
    border-bottom: solid 1px palevioletred;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.6rem;
    word-spacing: 0.3rem;
}

a{
    text-decoration: none;
    color: crimson;
}

ul li{
    list-style: none;
    display: inline-block;
    justify-content: right;
}

a:hover{
    color: plum;
    
}

footer{
    bottom: 0;
    position: absolute;
    border-top: solid 1px palevioletred;
    width: 100%;
}

p{
    font-family: 'Dancing Script', cursive;
    color: crimson;
    text-align: center;
    font-size: 1.3rem;
}